* {
  box-sizing: border-box;
  font-family:'微軟正黑體';
}
a{
  text-decoration: none;
  color: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffc7c7;
}

/* Style the header */
header {
  background-color: #ffc7c7;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
  width: 100%;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 25%;
  height: 900px; /* only for demonstration, should be removed */
  background: #ffe2e2;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

article {
  float: left;
  padding: 50px;
  width: 75%;
  background-color:  #f6f6f6;
  height: 900px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #8785a2;
  padding: 10px;
  text-align: left;
  color: white;
  width: 100%;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
/*@media only screen and (max-width: 700px) {
  .responsive {
    width: 37.99999%;
    height: auto;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    height: auto;
  }
}


}*/


h1 {
  font-size: 30px;
}

/*這個是Photo.html的圖片顯示效果*/
div.polaroid{
  width: 300px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
  margin: 0 100px;
}

div.polaroid:hover {
  border: 1px solid #777;
}


/*左方的BUTTON功能*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#ea9085;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px 10px;
  width:50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

  }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* ICON*/
a.icon-block {
        display:inline-block;
        width:10em;        
        text-align:center;
    }

    a.icon-block i,
    a.icon-block span {
        display:inline;
        width:100%;
        clear:both;
    }
@media (max-width: 800px) {
  nav, article {
    width: 100%;
    height: auto;
  }
  div.polaroid{
  margin: auto;
}
}
